langgraph
langsmith
langchain_anthropic
python-dotenv
langchain
langchain-community>=0.2.11
tavily-python
langchain-weaviate
requests
langchain-openai
langchainhub
aiohttp
PyPDF2
reportlab
fastapi
pydantic
uvicorn
gunicorn
python-multipart
weaviate-client
pypdf
langchain-unstructured
unstructured-client
unstructured
unstructured[pdf]
python-magic
PyMuPDF
pillow 
